*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    background-image: url(./Layer\ 101\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 647px;
    width: 100%;
}

img{
    max-width: 100%;
}
header nav {
    display: flex;
    /* margin: auto; */
    align-items: center;
    justify-content: space-around;
    color: white;
}
header nav a{
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: red;
    z-index: 999;
    color: rgb(247, 247, 247);
    box-shadow: 5px 5px 10px;


}
.ss {
    text-align: center;
    margin-top: 200px;
  }
  .ss h1 {
    color: white;
    font-size: 41px;
  }
  .ss p {
    color: white;
    font-size: 16px;
  }
  .ss button {
    border: 2px solid #fff;
    background: rgba(196, 196, 196, 0);
    color: #fff;
    font-size: 14px;
  }

section {
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #595656;
    font-size: 25px;
    font-weight: 700;
}

.tt {
    margin-top: 30px;
    text-align: center;
}

hr {
    max-width: 44px;
    height: 3px;
    background-color: rgb(31, 29, 29);
}

.main {
    max-width: 1140px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 400px) {
    .main {
        grid-template-columns: auto;
    }
}

main hr {
    width: 44px;
    height: 3px;
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: auto;
    max-width: 1200px;
    margin: auto;
    gap: 10px;
}

.p {
    text-align: center;
}

main h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #555;
    font-size: 25px;
    font-weight: 700;
}

.ma {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1200px;
    gap: 20px;
}

.main__img {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 900px) {
    .main__img {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .main__img {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .main__img {
        grid-template-columns: auto;
        margin: auto;
    }
}
ul li a{
    color: white;
}
.ds{
   text-align: center;
   margin: auto;
   display: flex;
   justify-content: space-around;
   max-width: 100px;
   gap: 20px;
}

.sd{
    padding: 20px;
}
.combinator {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
    column-gap: 50px;
    height: auto;
    /* border: 2px solid rgb(0, 119, 255); */
 
}

@media screen and (max-width: 900px) {
    .combinator {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 700px) {
    .combinator {
        grid-template-columns: auto auto;
        
    }
}

@media screen and (max-width: 400px) {
    .combinator {
        grid-template-columns: auto;
        margin: auto;
    }
}
.h{
    background-image: url(./Layer\ 29\ 1.png);
    padding: 100px;
    text-align: center;
    color: white;
   
}
.ar {
    
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    max-width: 1140px;
    flex-wrap: wrap;
  }

.s img{
    padding: 20px;
    
}

.s{
    text-align: center;
}
.d{
    text-align: center;
}
.di{
   background-color: red; 
   height: 296px;
   text-align: center;
}
.di img{
    margin-top: 150px;
    font-size: 20px;
}
