* {
	text-decoration: none;
	list-style: none;
	padding: 0%;
	margin: 0%;
	/* color: white; */
}
header nav ul li a{
color: white;
/* background-color: rgb(0, 0, 0); */
}
header nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: fixed;
	padding-left: 50px;
	padding-top: 20px;
	z-index: 1;
	/* color: white; */
	background-color: #191919;
	
}
header nav ul {
	display: flex;
	justify-content: space-around;
	gap: 50px;
	flex-wrap: wrap;
	padding-top: 15px;
	font-size: 15px;
	color: #666;
	text-align: center;
	color: var(--light-Content, #450808);
	font-family: DM Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
}
.desktop1_usen_info {
	display: flex;
	justify-content: space-around;
	padding-top: 150px;
	max-width: 1170px;
	flex-wrap: wrap;
	padding: 150px;
	color: white;
}
.desktop1_usen_info h1 {
	margin-top: 70px;
	color: var(--Solid-Heading,white );
	font-family: Poppins;
	font-size: 58px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px; /* 120.69% */
	letter-spacing: -1px;
}
span {
	background: var(
		--Gradient-Heading,
		linear-gradient(90deg, #665a9b -2.06%, #003fa4 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Poppins;
	font-size: 58px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -1px;
}
.main_text_info {
	color: white;
	text-align: center;
	padding-top: 40px;
	font-size: 25px;
}
.desktop2_img1 {
	display: flex;
	justify-content: space-around;
	max-width: 1170px;
	margin: auto;
	flex-wrap: wrap;
	gap: 20px;
}
.desktop2_img2 {
	display: flex;
	justify-content: space-around;
	max-width: 1170px;
	margin: auto;
	flex-wrap: wrap;
	gap: 20px;
}
section {
	padding-top: 80px;
}
section h1 {
	color: var(--Solid-Heading-Dark-mode, #ccc);
	text-align: center;
	font-family: Poppins;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px; /* 54.167% */
}
section p {
	color: var(--light-Content, #a7a7a7);
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 81.25% */
}
.main {
	max-width: 1140px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
}
.box{
	
    width: 343px;
    height: 480px;
   border: 1px solid red;
   border-radius: 20px 20px 20px 20px;
   
}
.box img{
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	height: 250px;
}

@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 480px) {
    .main {
        grid-template-columns: auto;
    }
}
.gemail{
	text-align: center;
}
.ar {
    
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    max-width: 1140px;
    flex-wrap: wrap;
  }
  .t{
	color: white;
  }

